<div class="container">
  <h3 class="titulo text-center">Actualizar Programación</h3>
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-md-8">
      <form [formGroup]="updateProgramForm" (ngSubmit)="saveProgramationUpdate()">
        <label class="form-label" for="image"
          ><strong> Foto de Recibo</strong></label
        >
        <input
          type="file"
          name="archivo"
          class="form-control"
          id="image"
        />

        <div class="input-group mt-3">
          <span class="input-group-text" id="basic-addon1"
            >Numero De Recibo</span
          >
          <input
            type="number"
            name="numRecibo"
            formControlName="numRecibo"
            class="form-control"
            aria-label="factura"
            aria-describedby="basic-addon1"
          />
        </div>

        <div
          class="input-group mt-3"
          *ngIf="showInput(embudo, 'horometroInicial')"
        >
          <span class="input-group-text" id="basic-addon2"
            >Horometro Inicial</span
          >
          <input
            type="number"
            name="horometroInicial"
            formControlName="horometroInicial"
            class="form-control"
            aria-label="Horometro Inicial"
            aria-describedby="basic-addon1"
          />
        </div>

        <div
          class="input-group mt-3"
          *ngIf="showInput(embudo, 'horometroFinal')"
        >
          <span class="input-group-text" id="basic-addon3"
            >Horometro Final</span
          >
          <input
            type="number"
            name="horometroFinal"
            formControlName="horometroFinal"
            class="form-control"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>

        <div class="input-group mt-3" *ngIf="showInput(embudo, 'cantidad')">
          <span class="input-group-text" id="basic-addon4">Cantidad</span>
          <input
            type="number"
            name="cantidad"
            formControlName="cantidad"
            class="form-control"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="row justify-content-between mt-5 mb-5 mx-1">
          <a
            [routerLink]="['/programming/result-search']"
            [queryParams]="{ placa: placa }"
            class="btn btn-outline-primary col-4 col-md-3"
            >Regresar</a
          >
          <button type="submit" class="btn btn-outline-danger col-4 col-md-3"
            >Enviar</button
          >
        </div>
      </form>
    </div>
  </div>

</div>
