<h1 class="text-center">Bienvenido</h1>
<form [formGroup]="servicesForm" (ngSubmit)="goToProgrammingModule()" class="col-6 mx-auto my-auto py-auto form-color p-3">
  <div class="input-group">
    <span class="input-group-text" id="inputGroup-sizing-default">Servicio</span>
    <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon" formControlName="service">
      <option selected>Seleccione un servicio </option>
      <option *ngFor="let service of services" [ngValue]="service.code">{{service.value}}</option>
    </select>
    <button class="btn btn-outline-danger" type="submit">Enviar</button>
  </div>

</form>
