/* You can add global styles to this file, and also import other style files */
.vh-25{
  max-height: 35vh;
  min-height: 25vh;
}

.logo-main{
  width: 153px;
  height: 72px;
  zoom: 150%;
}

.titulo{
  color: rgba(159,16,23,255);
}