<h3 class="text-center mb-5 titulo">Servicio Volquetas</h3>

<div class="container">

  <form [formGroup]="programForm" (ngSubmit)="newProgram()" class="row border rounded">

    <!--    select de obra-->
    <mat-form-field class="col-2">
      <mat-select [formControl]="obraCtrl" placeholder="Obra" #obraSelect name="obra" formControlName="obra"
                  (ngModelChange)="traerMateriales($event)">
        <mat-option>
          <ngx-mat-select-search [formControl]="filtroObraCtrl"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let obra of obrasFiltradas | async" [value]="obra.TITLE">
          {{obra.TITLE}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!--    select de material-->
    <mat-form-field class="col-2">
      <mat-select [formControl]="materialCtrl" placeholder="Material" #materialSelect name="material"
                  formControlName="material">
        <mat-option>
          <ngx-mat-select-search [formControl]="filtroMaterialCtrl"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let material of materialsFiltrados | async" [value]="material.PRODUCT_NAME">
          {{material.PRODUCT_NAME}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!--select de placas-->
    <mat-form-field class="col-2">
      <mat-select [formControl]="placaCtrl" placeholder="Placa" #placaSelect name="placa" formControlName="placa">
        <mat-option>
          <ngx-mat-select-search [formControl]="filtroPlacaCtrl"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let placa of placasFiltradas | async" [value]="placa.TITLE">
          {{placa.TITLE}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="form-floating mt-3 col-4 col-md-2">
      <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="origen"
             formControlName="origen">
      <label for="floatingInput">Origen</label>
    </div>

    <!--input destino-->
        <div class="form-floating mt-3 col-4 col-md-2">
          <input type="text" class="form-control" id="floatingPassword" placeholder="Password" name="destino"
                 formControlName="destino">
          <label for="floatingPassword">Destino</label>
        </div>

    <div class="row mt-5 justify-content-center">
      <button class="btn btn-outline-danger col-7 col-md-4 mb-3" type="submit">Agregar Programación</button>
    </div>


  </form>
</div>




