<h3 class="text-center mb-5 titulo">Servicio Volquetas</h3>

<div class="container">

  <form [formGroup]="programForm" (ngSubmit)="newProgram()" class="row border rounded">

    <div class="form-floating mt-3 col-6 col-md-3">
      <select class="form-select" id="floatingSelect1" name="obra" [attr.aria-label]="'Obra'" formControlName="obra" (ngModelChange)="negociacionSeleccionada($event)">
        <option selected>Seleccione un servicio</option>
        <option *ngFor="let obra of this.negociaciones" [ngValue]="obra.TITLE">{{obra.TITLE}}</option>
      </select>
      <label for="floatingSelect1">Obra</label>
    </div>

    <div class="form-floating mt-3 col-6 col-md-3" >
      <select class="form-select" id="floatingSelect2" name="material" [attr.aria-label]="'Material'" formControlName="material"  (ngModelChange)="traerPlacas($event)">
        <option selected>Seleccione un servicio</option>
        <option *ngFor="let material of this.materiales" [ngValue]="material.PRODUCT_NAME">{{material.PRODUCT_NAME}}</option>
      </select>
      <label for="floatingSelect2">Material</label>
    </div>

    <div class="form-floating mt-3 col-4 col-md-2">
      <select class="form-select" id="floatingSelect3" name="placa" [attr.aria-label]="'Placa'" formControlName="placa">
        <option selected>Seleccione un servicio</option>
        <option *ngFor="let placa of this.placas" [ngValue]="placa.TITLE">{{placa.TITLE}}</option>
      </select>
      <label for="floatingSelect3">Placa</label>
    </div>

    <div class="form-floating mt-3 col-4 col-md-2">
      <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="origen" formControlName="origen">
      <label for="floatingInput">Origen</label>
    </div>

    <div class="form-floating mt-3 col-4 col-md-2">
      <input type="text" class="form-control" id="floatingPassword" placeholder="Password" name="destino"  formControlName="destino">
      <label for="floatingPassword">Destino</label>
    </div>

    <div class="row mt-5 justify-content-center">
      <button class="btn btn-outline-danger col-7 col-md-4 mb-3" type="submit">Agregar Programación</button>
    </div>

  </form>
</div>
